<div class="card">

  <div class="image-wrapper">
    <img [src]="product.imageUrl"
         alt="{{product.productName}}"
         class="product-image">
  </div>

  <div class="platform-rating">
    <span class="platform-name">Platform</span>
    <span class="rating">⭐ 4.8</span>
  </div>

  <h3 class="title">{{ product.productName }}</h3>

  <div class="info">
    <div>
      <div class="label">Price</div>
      <div class="value">₹ {{ product.price }}</div>
    </div>

    <div>
      <div class="label">Stock</div>
      <div class="value">{{ product.stockStatus }}</div>
    </div>
  </div>

  <!-- Buttons -->
  <div class="button-group">
    <button class="cart-btn">Add to Cart</button>
    <button class="buy-btn">Buy Now</button>
  </div>

</div>
